src/*.exe
src/tetcoin
src/tetcoind
src/test_tetcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.tetcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
tetcoin-qt
Tetcoin-Qt.app

# Unit-tests
Makefile.test
tetcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
