src/*.exe
src/czarcoin
src/czarcoind
src/test_czarcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.czarcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
czarcoin-qt
Czarcoin-Qt.app

# Unit-tests
Makefile.test
czarcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
